@model ICollection<Reddit.Models.Content>
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
		<title>Reddit App</title>
	    <link href="@Url.Content("~/css/styleSheet.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>
		<h2>Reddit</h2>
		<table>
			<tr>
				<th>Score</th>
                <th>Post</th>
				<th>Action</th>
                <th>Edit</th>
                <th>Delete</th>
				<th>Date</th>
			</tr>
			@foreach (var item in @Model)
			{
			<tr>
				<td>@item.Votes</td>
				<td>@item.Post</td>
                <td>
                    <a href="/vote/plus/@item.Id" title="I love it" class="upvote">+</a>
                    <a href="/vote/minus/@item.Id" title="I hate it" class="downvote">&nbsp-&nbsp</a>
                </td>
				<td>
					<form action="/(@item.Id)/update" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button id="table" class="number" type="submit">Edit</button>
                    </form>
				</td>
                <td>
                    <form action="/(@item.Id)/delete" method="post">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button id="table" class="number" type="submit">Delete</button>
                    </form>
                </td>
				<td>@item.Date.ToString("MM/dd/yy H:mm:ss")</td>
			</tr>
			}
		</table>
		<br/>
		<form action="/add" method="get"><button type="submit" 
                        value="Add">Add new post</button></form>
    </body>
</html>