@model System.Collections.Generic.List<ListingTodos.Models.Todo>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todo CRUD App</title>
    <link href="@Url.Content("~/css/Stylesheet.css")" rel="stylesheet" type="text/css" />
</head>
<body>
        <h2>list of things to do</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Done</th>
                <th>Urgent</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var task in Model)
                {
                    <tr style="@((task.IsUrgent)? "background-color:silver": string.Empty)" >
                        <td>@task.Id</td>
                        <td style="background-color:gold">@task.Title</td>
                        <td>@task.IsDone</td>
                        <td>@task.IsUrgent</td>
                        <td>
                    <form action="/@task.Id/update" method="post"><button type="submit" 
                        value="Edit">Edit</button></form>
                        </td>
                    
                        <td>
                     <form action="/(@task.Id)/delete" method="post">
                        <input type="hidden" name="Id" value="@task.Id" />
                        <button id="table" class="number" type="submit">Delete</button>
                    </form></td>
                    </tr>
                }
            }
        </tbody>
    </table>
        <br />
        <form action="/add" method="get"><button type="submit" 
                        value="Add">Add new todo</button></form>
</body>
</html>